@import 'colors';
/* --- BOUTONS --- */
.btn{
    background-color: $CG_WhiteIvoire;
    color: $CG_RougePrincipal;
    border-radius: 25px;
    border: 0px;
    padding: 5px;
    width: 120px;
    font-weight: 600;
    font-size: 15px;
}
.btnInverse{
    background-color: $CG_RougePrincipal ;
    color: $CG_WhiteIvoire;
    border-radius: 25px;
    border: 0px;
    padding: 5px;
    width: 120px;
    font-weight: 600;
    font-size: 15px;
}
.btn-more {
    margin: 0 auto;
    margin-top: 15px;
}
/* --- Séparateurs --- */
.separateur-inToRed {
    height: 30px;
    width: 100%;
    background-color: $CG_WhiteIvoire;
    color: green;
    border-radius: 0px 0px 30px 30px;
}
.separateur-outToWhite {
    height: 30px;
    width: 100%;
    background-color: $CG_WhiteIvoire;
    border-radius: 30px 30px 0px 0px;
}