@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/reset';

@import 'layout/header';
@import 'layout/footer';

@import 'components/barres';
@import 'components/buttons';
@import 'components/elementParcours';
@import 'components/separateurs';
@import 'components/titreSection';

@import 'fonts/icons-socialNetwork';

@import 'pages/home';
@import 'pages/mesRealisations';

.inverseColor {
    color: $CG_WhiteIvoire;
}
.container {
    width: 85vw;
}
.full-width {
    width: 100%;
}
.margin-constraint {
    @include flex-column-verticalHorizontalCenter;
    width: $margin-constraint-width;
}
.useful-width {
    width: 100%;
    max-width: $useful-width;
}
.redBackgroundSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $CG_RougePrincipal;
}