footer {
    margin-top: 80px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $CG_Grey1;

    .margin-constraint {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .useful-width {
            display: flex;
            flex-direction: column;
            font-size: $sizeText;
            color: white;
        }
    }
}
.infosFooter,
.liensFooter {
    margin-bottom: 20px;
}
.infosFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    .colonneLogo,
    span {
        font-size: 15px;
    }
    .colonneLogo {
        .logo {
            height: 50px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        span {
            font-weight: $bold;
        }
    }
    span,
    span > a:active,
    span > a:visited {
        color: white;
    }
}
.liensFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .colonneLiens {
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
        .titreColonne {
            font-weight: $bold;
            font-size: $sizeSubTitle--mobile;
            margin-bottom: 5px;
        }
        a,
        a:active,
        a:visited {
            color: white;
            font-size: 16px;
        }
    }
}
.reseauxSociaux {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    span {
        font-size: 30px;
        padding: 10px;
    }
}
@include respond-to("M") {
    footer {
        .margin-constraint {
            .useful-width {
                flex-direction: row;
                justify-content: space-evenly;
                .infosFooter,
                .liensFooter {
                    margin-bottom: 0px;
                }
                .liensFooter {
                    width: 50%;
                    .colonneLiens {
                        align-items: flex-start;
                    }
                }

                .reseauxSociaux {
                    width: auto;
                    max-width: none;
                    margin: 0;
                }
            }
        }
    }
}
