@import "../abstracts/mixins";
@mixin a-menu--desktop {
}
header {
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $marginBottom-section;
    height: $navbar_height;
    width: 100%;
    label {
        font-size: 2.5em;
        z-index: 9999;
    }
    .logo {
        height: 35px;
        margin-left: 20px;
        img {
            margin-left: 0;
        }
    }
    label {
        margin-right: 20px;
    }

    button:active:focus {
        outline: none;
    }
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
    input {
        display: none;
    }
    input[type="checkbox"]:checked ~ nav {
        display: flex;
        justify-content: flex-start;
        padding-top: 45px;
    }
    input[type="checkbox"]:checked ~ label {
        color: white;
    }
}
/* Menu navigation */
nav {
    position: absolute;
    //Comportement
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 900;
    transition: transform 0.3s ease;
    //Position
    top: 0;
    right: 0;
    //Dimension
    height: 100vh;
    min-height: 100vh;
    width: 320px;
    //Apparence
    background-color: $CG_Grey1;

    .menu_navigation {
        padding-inline-start: 0px;
        //Comportement
        display: flex;
        flex-direction: column;
        //Apparence
        list-style: none;
        height: 350px;
        justify-content: space-between;
        li {
            display: flex;
            flex-direction: row;
            justify-content: center;
            span {
                margin-right: 10px;
            }
        }
        .li-dropdown {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                span {
                    color: white;
                    font-size: $sizeTitle--mobile;
                }
            }

            ul {
                width: 100%;
                padding-inline-start: 35px;
                li {
                    a {
                        font-size: $sizeSubTitle--mobile;
                    }
                }
            }
        }
        a {
            border-bottom: 1px solid $CG_Grey1;
            text-decoration: none;
            display: block;
            width: 65%;
            font-size: $sizeLienMenu--mobile;
            @include flex-row-verticalCenter;
            color: white;
            text-align: left;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        a:hover,
        a:focus,
        a:active {
            color: $CG_RougePrincipal;
        }
    }
}
@include respond-to("M") {
    header {
        margin-bottom: 40px;
        input[type="checkbox"]:checked ~ nav {
            display: flex;
        }
        label {
            display: none;
        }
    }
    nav {
        display: block;
        margin-right: 20px;
        width: auto;
        background-color: transparent;
        height: $navbar_height;
        .menu_navigation {
            flex-direction: row;
            justify-content: space-around;
            height: inherit;
            width: 100%;
            a {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: $sizeTextCTA;
                border-bottom: none;
                color: $CG_Grey1;
                font-weight: $medium;
                span {
                    display: flex;
                    color: $CG_Grey1 !important;
                    svg {
                        display: none;
                    }
                }
            }
            li {
                padding: 0px 20px;
                span {
                    margin-right: 0px;
                }
            }
            .li-dropdown {
                display: flex;
                transition-duration: 0.5s;
                font-size: $sizeTextCTA;
                font-weight: $medium;
                position: relative;
                width: auto;
                a {
                    span {
                        font-size: $sizeTextCTA;
                    }
                }
            }
            .li-dropdown:hover {
                color: $CG_RougePrincipal;
            }
            .dropdown {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                transition: all 0.5s ease;
                color: white;
                top: $navbar_height;
                padding-left: 0px !important;
                li {
                    background-color: $CG_RougePrincipal;
                    clear: both;
                    font-size: $sizeTextParagraph;
                    align-items: flex-start;
                    margin: 0px;
                    white-space: nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    height: 40px;
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-size: $sizeTextCTA--mobile !important;
                        height: 100%;
                        width: 100%;
                        padding: 10px;
                    }
                    a:hover {
                        color: white;
                    }
                }
                li:hover {
                    background-color: $CG_RougePrincipalLight;
                }
                li:last-child {
                    a {
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 500;
                        font-size: $sizeTextParagraph;
                        padding: 10px 20px;
                        border-radius: 0px;
                    }
                    a:hover {
                        border-radius: 0px;
                        background-color: $CG_RougePrincipalLight;
                    }
                }
            }
            .li-dropdown:hover > ul,
            .li-dropdown ul:hover {
                visibility: visible;
                opacity: 1;
                display: block;
            }
            li:last-child {
                display: flex;
                align-items: center;
                a {
                    display: flex;
                    align-items: center;
                    height: 30px;
                    padding: 2px 15px;
                    color: white;
                    background-color: $CG_RougePrincipal;
                    border-radius: 25px;
                    border: 0px;
                    font-weight: 600;
                    font-size: 15px;
                }
            }
        }
    }
}
