
@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
    -webkit-appearance: none;
    text-decoration: none;
    display: block;
    background-color: $CG_WhiteIvoire; 
    color: $CG_RougePrincipal;
    border-radius: 25px;
    border: 0px;
    padding: 5px 15px;
    width: auto;
    font-weight: 600;
    transition: all 0.2s ease-in;
}
.btn-s {
    -webkit-appearance: none;
    text-decoration: none;
    display: block;
    background-color: $CG_WhiteIvoire; 
    color: $CG_RougePrincipal;
    border-radius: 25px;
    border: 0px;
    padding: 3px 12px;
    width: auto;
    font-weight: 500;
    transition: all 0.2s ease-in;
    font-size: 14px;
}
.btn:hover {
    transform: scale(1.1);
    color: $CG_RougePrincipal;
    text-decoration: none;
}
.btnInverse {
    background-color: $CG_RougePrincipal;
    color: $CG_WhiteIvoire;
}
.btnInverse:active, .btnInverse:visited, .btnInverse:hover  {
    color:white;
    outline: none;
}
.btnInverse:hover {
    transform: scale(1.1);
    text-decoration: none;
}
.btn-more {
    margin: 0 auto;
    margin-top: 15px;
}
.btn-meDecouvrir {
    display: block;
    font-size: $sizeTextCTA;
    color: $CG_WhiteIvoire;
}


//Bouton de base

//Bouton mobile

//Bouton desktop

//Bouton inverseColors