
@import "../abstracts/mixins";
@import "../abstracts/variables";
.btn {
    background-color: $CG_WhiteIvoire;
    color: $CG_RougePrincipal;
    border-radius: 25px;
    border: 0px;
    padding: 5px;
    width: 120px;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.2s ease-in;
}
.btn:hover {
    transform: scale(1.1);
}
.btnInverse {
    appearance: button;
    text-decoration: none;
    display: block;
    background-color: $CG_RougePrincipal;
    color: $CG_WhiteIvoire;
    border-radius: 25px;
    border: 0px;
    padding: 5px 15px;
    width: auto;
    font-weight: 600;
    transition: all 0.2s ease-in;
}
.btnInverse:hover {
    transform: scale(1.1);
    text-decoration: none;
}
.btn-more {
    margin: 0 auto;
    margin-top: 15px;
}
.btn-meDecouvrir {
    display: block;
    font-size: $sizeTextCTA;
    color: $CG_WhiteIvoire;
}