.sliderArticle {
    width: 100%;
    height: auto;
    max-height: 400px;
    display: flex;
    justify-content: space-between;
    .slides {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .sliderButton {
        border: 0px;
        background-color: transparent;
        outline: none;
    }
}