.titrePageArticle {
    margin-bottom: 20px;
    h2 {
        font-size: $sizeTitle--mobile;
        font-weight: $medium;
        margin-bottom: 0px;
    }
    .barreHorizontal {
        width: 60px;
    }
    p {
        font-size: $sizeText--mobile;
    }
}
@include respond-to('M'){
    .titrePageArticle {
        margin-top: 35px;
        margin-bottom: 20px;
    }
}
