/*
  	icons-socialNetwork icon font: icons-socialNetwork
  	Creation date: 30/12/2020 10:50
  	*/

@font-face {
  font-family: "icons-socialNetwork";
  src: url("../ressources/fonts/icons-socialNetwork.eot");
  src: url("../ressources/fonts/icons-socialNetwork.eot?#iefix") format("embedded-opentype"), url("../ressources/fonts/icons-socialNetwork.woff2") format("woff2"),
    url("../ressources/fonts/icons-socialNetwork.woff") format("woff"), url("../ressources/fonts/icons-socialNetwork.ttf") format("truetype"),
    url("../ressources/fonts/icons-socialNetwork.svg#icons-socialNetwork") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "icons-socialNetwork";
    src: url("./icons-socialNetwork.svg#icons-socialNetwork") format("svg");
  }
}

[class^="icons-socialNetwork-"]:before,
[class*=" icons-socialNetwork-"]:before,
[class^="icons-socialNetwork-"]:after,
[class*=" icons-socialNetwork-"]:after {
  font-family: icons-socialNetwork;
  font-size: 20px;
  font-style: normal;
}

.icons-socialNetwork-instagram:before {
  content: "\f100";
}
.icons-socialNetwork-twitter:before {
  content: "\f101";
}
.icons-socialNetwork-whatsapp:before {
  content: "\f102";
}
.icons-socialNetwork-youtube:before {
  content: "\f103";
}
.icons-socialNetwork-facebook:before {
  content: "\f104";
}
.icons-socialNetwork-facebook-1:before {
  content: "\f105";
}
.icons-socialNetwork-linkedin:before {
  content: "\f106";
}
.icons-socialNetwork-messenger:before {
  content: "\f107";
}
.icons-socialNetwork-pinterest:before {
  content: "\f108";
}
.icons-socialNetwork-snapchat:before {
  content: "\f109";
}
.icons-socialNetwork-github:before {
  content: "\f10a";
}
.icons-socialNetwork-wordpress:before {
  content: "\f10b";
}
.icons-socialNetwork-google-drive:before {
  content: "\f10c";
}
.icons-socialNetwork-dropbox:before {
  content: "\f10d";
}
.icons-socialNetwork-path:before {
  content: "\f10e";
}
