

.sectionInfoPage {
    .infoPage {
        .imgCategorieRealisation {
            display: none;
        }
        h1,
        h2 {
            font-weight: $medium;
        }
        h1 {
            font-size: $sizeSubTitle;
            color: $CG_Grey2;
        }
        h2 {
            font-size: $sizeTitle--mobile;
            margin-bottom: 0px;
        }
        p {
            color: $CG_Grey1;
            font-size: $sizeText--mobile;
            font-weight: $regular;
        }
    }
    .autresCategories {
        display: none;
    }
}
.listeProjets {
    .projet {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        .imgProjet {
            height: 100px;
            min-width: 120px;
            width: 120px;
            background-position: top left;
            background-size: cover;
            border-radius: 10px;
        }
        .projetWeb1 {
            background-image: url("../ressources/img/projetsWeb/projet1_laclassedemelusine.png");
        }
        .projetWeb2 {
            background-image: url("../ressources/img/projetsWeb/projet2_rodbuildingmedi.png");
        }
        .projetWeb3 {
            background-image: url("../ressources/img/projetsWeb/projet3_sncf-plateformeGestion.png");
        }
        .metaProjet {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            align-items: left;
            a {
                text-decoration: none;
            }
            h2 {
                font-size: $sizeTextCTA--mobile;
                font-weight: $regular;
                color: $CG_Grey1;
            }
            p {
                font-size: $sizeTextAdditionnal--mobile;
                font-weight: $thin;
                margin-bottom: 5px;
            }
            a {
                font-size: $sizeTextCTA--mobile;
                color: $CG_RougePrincipal;
            }
        }
        .infosProjet {
            display: none;
        }
    }
}
@include respond-to("M") {
    
    $LeftSpaceTextElementRealPage: 15px;
    .sectionInfoPage--pageCategorie {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: -125px;
        .infoPage {
            display: flex;
            flex-direction: row;
            div:nth-child(1) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            div:nth-child(2) {
                h1 {
                    font-size: 35px;
                    font-weight: $bold;
                    color: $CG_WhiteIvoire;
                    padding-left: $LeftSpaceTextElementRealPage;
                }
                p {
                    padding-left: $LeftSpaceTextElementRealPage;
                    min-width: 400px;
                    width: 70vw;
                    max-width: 700px;
                }
            }
            .imgCategorieRealisation {
                display: block;
                width: 170px;
                height: 170px;
                background-position: center;
                background-size: cover;
                border-radius: 30px;
                border: 12px white solid;
            }
            .imgCategorieRealisation-web {
                background-image: url("../ressources/img/MEAcategorie-siteInternet.jpg");
            }
            .imgCategorieRealisation-graphisme {
                background-image: url("../ressources/img/MEAcategorie-graphisme.jpg");
            }
            .imgCategorieRealisation-audiovisuel {
                background-image: url("../ressources/img/MEAcategorie-audiovisuel.jpg");
            }
        }
        /* -- Element de catégories affiché en haut (plus convaincu de ce choix graphique)
        .autresCategories {
            display: flex;
            justify-content: space-between;
            margin-left: 30px;
            .categorieRealisation {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $CG_WhiteIvoire;
                border-radius: 10px;
                padding: 5px;
                margin: 0px 15px;
                .imgCategorieAudiovisuel {
                    border-radius: 10px;
                    min-height: 70px;
                    min-width: 70px;
                    background-size: cover;
                    background-position: center;
                    background-image: url("../ressources/img/MEAcategorie-audiovisuel.jpg");
                }
                span {
                    font-size: $sizeTextAdditionnal;
                    font-weight: $semi-bold;
                }
            }
        }*/
    }
    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .listeProjets {
        .projet {
            margin-left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .imgProjet {
                height: 100px;
                min-width: 150px;
            }
            .metaProjet {
                padding-left: $LeftSpaceTextElementRealPage;
                h2 {
                    font-size: $sizeSubTitle;
                    font-weight: $medium;
                }
                p {
                    font-size: $sizeTextParagraph;
                    font-weight: $regular;
                    width: 100%;
                    min-width: 400px;
                }
                display: flex;
                margin-left: 0px;
                max-width: 500px;
                min-width: 400px;
                flex-wrap: wrap;
            }
            .infosProjet {
                margin-left: $LeftSpaceTextElementRealPage;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                min-width: 90px;
                
                a {
                    margin-top: 10px;
                    white-space: nowrap;
                }
            }
        }
    }
}
