.sectionRealisations {
    .titreSectionPageProjet {
        text-align: center;
        margin-bottom: 30px;
        .barreHorizontal {
            display: none;
        }
    }
    .mesRealisations {
        .categorie {
            .imgCategoriePageProjet {
                max-height: 115px !important;
                min-height: 115px !important;
                max-width: 115px !important;
                min-width: 115px !important;
            }
        }
    }
    .mesRealisationsPageProjet {
        justify-content: space-evenly !important;
    }
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionInfoPage--pageArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .infoPage {
        width: 100%;
        span {
            display: inline-block;
            font-size: $sizeTitle--mobile;
            text-align: left;
            letter-spacing: 0.24px;
            color: $CG_Grey1;
            margin-bottom: 13px;
        }
        h1 {
            font-size: $sizeSubTitle--mobile;
            font-weight: $medium;
            color: $CG_Grey1;
            line-height: 22px;
            margin-bottom: 30px;
        }
    }
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
}
.articleProjet {
    .titreArticle {
        margin-bottom: 20px;
        h2 {
            font-size: $sizeTitle--mobile;
            font-weight: $medium;
            margin-bottom: 0px;
        }
        .barreHorizontal {
            width: 60px;
        }
        p {
            font-size: $sizeText--mobile;
        }
    }
}

.sliderArticle {
    width: 100%;
    display: flex;
    height: auto;
    max-height: 400px;
    .slides {
        width: 100%;
        height: inherit;
        object-fit: contain;
    }
    .sliderButton {
        border: 0px;
        background-color: transparent;
        outline: none;
    }
}
