.sectionRealisations {
    .titreSectionPageProjet {
        text-align: center;
        margin-bottom: 30px;
        .barreHorizontal {
            display: none;
        }
    }
    .mesRealisations {
        .categorie {
            .imgCategoriePageProjet {
                max-height: 115px !important;
                min-height: 1f15px !important;
                max-width: 115px !important;
                min-width: 115px !important;
            }
        }
    }
    .mesRealisationsPageProjet {
        justify-content: space-evenly !important;
    }
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionInfoPage--pageArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .infoPage {
        width: 100%;
        span {
            display: inline-block;
            font-size: $sizeTitle--mobile;
            text-align: left;
            letter-spacing: 0.24px;
            color: $CG_Grey1;
            margin-bottom: 13px;
        }
        h1 {
            font-size: $sizeSubTitle--mobile;
            font-weight: $medium;
            color: $CG_Grey1;
            line-height: 22px;
            margin-bottom: 30px;
        }
    }
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
}

.section-articleSimilaire {
    display: flex;
    flex-direction: column;
}
.articles-Similaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    .article-Similaire {
        display: flex;
        flex-direction: column;
        align-items: center;

        overflow: hidden;
        margin-bottom: 15px;
        width: 33%;
        min-width: 120px;
        max-width: 180px;
    }
    .imgArticleSimilaire {
        margin-bottom: 16px;
        width: 90%;
        max-width: 150px;
        height: 25vw;
        max-height: 150px;
        min-height: 110px;
        /*min-width: 120px;
        min-height: 120px;
        height: 40vh;
        width: 40vh;
        max-width: 150px;
        max-height: 150px;
        */
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
        }
    }
    h3 {
        a,a:active, a:visited{
            color: $CG_Grey1;
            font-size: $sizeTextCTA--mobile;
        }
        a{
            
            text-align: center;
            font-weight: 450;
            display: -webkit-box; 
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        margin-bottom: 0px;  
    }
}
.merci {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        font-size: $sizeText;
        margin-bottom: 10px;
        text-align: center;
        img {
            height: 17px;
        }
    }
}
@include respond-to("M") {
    .sectionInfoPage--pageArticle {
        //Forcer cette section et la margin-constraint à devenir useful-width vu que la margin-constraint est vide sur desktop |
        width: 100%;
        max-width: $margin-constraint-width !important;
        margin-bottom: 50px;
        div:nth-child(1) {
            width: 100%;
            max-width: $useful-width !important;
        }
        position: relative;
        margin-top: -125px;
        .infoPage {
            span {
                font-size: 35px;
                font-weight: $bold;
                color: $CG_WhiteIvoire;
                margin-bottom: 40px;
            }
            h1 {
                font-size: $sizeTitle;
                margin-bottom: 40px;
            }
        }
        img {
            border-radius: 30px;
            max-width: $useful-width;
            height: 250px;
        }
    }
    .articleProjet {
        margin-bottom: 80px;
    }
    
    .section-articleSimilaire {
        margin: 0 auto;
        max-width: map-get($breakpoints, "M");
    }
    .section-articleSimilaire {
        margin-bottom: 50px;
    }
    .articles-Similaire{
        h3 {
            a,a:active, a:visited{
                font-size: $sizeTextCTA;
            }
        }
    }
}
