.sectionInfoPage--pageCategorie {
    margin-bottom: 50px;
    .infoPage {
        h1 {
            font-size: $sizeTitle--mobile;
            font-weight: $medium;
        }
        p {
            font-size: $sizeText--mobile;
            font-weight: $regular;
        }
    }
}
.listeProjets {
    .titrePageArticle {
        h2 {
            font-size: $sizeTitle--mobile;
        }
    }
    .projet {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 15px;
        .imgProjet {
            min-height: 100px;
            height: 25vw;
            max-height: 130px;

            min-width: 100px;
            width: 25vw;
            max-width: 130px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
            }
        }
        .metaProjet {
            max-width: 55vw;
            padding-left: 10px;
            .titreArticle,
            .titreArticle:visited {
                color: $CG_Grey1;
                h2 {
                    font-size: $sizeSubTitle--mobile;
                }
            }
            p {
                font-size: $sizeText--mobile;
                margin-bottom: 0px;
                overflow: hidden;
                margin-bottom: 0px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
            span {
                font-size: $sizeTextAdditionnal--mobile;
                color: $CG_RougePrincipal;
            }
        }

        .infosProjet {
            width: 100%;
            .listeIcons {
                display: none;
            }
            a {
                display: flex;
                justify-content: center;
                width: 120px;
                margin: 15px auto;
            }
        }
    }
}
@include respond-to("M") {
    $LeftSpaceTextElementRealPage: 15px;
    .sectionInfoPage--pageCategorie {
        //Forcer cette section et la margin-constraint à devenir useful-width vu que la margin-constraint est vide sur desktop |
        width: 100%;
        max-width: $useful-width !important;
        margin-bottom: 50px;
        position: relative;
        margin-top: -125px;
        .infoPage {
            h1 {
                font-size: 35px;
                margin-bottom: 35px;
                color: $CG_WhiteIvoire;
                font-weight: $bold;
            }
            p {
                font-size: $sizeText;
                font-weight: $medium;
            }
        }
    }
    .listeProjets {
        .projet {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .imgProjet {
                height: 100px;
                min-width: 150px;
            }
            .metaProjet {
                padding-left: $LeftSpaceTextElementRealPage;

                h2 {
                    font-size: $sizeSubTitle;
                    font-weight: $medium;
                }
                p {
                    font-size: $sizeTextParagraph;
                    font-weight: $regular;
                    width: 100%;
                    min-width: 400px;
                }
                display: flex;
                margin-left: 0px;
                max-width: 500px;
                min-width: 400px;
                flex-wrap: wrap;
            }
            .infosProjet {
                margin-left: $LeftSpaceTextElementRealPage;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                min-width: 90px;
                max-width: 110px;
                .listeIcons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    flex-wrap: nowrap;
                    width: 100%;
                }
                a {
                    margin-top: 10px;
                    white-space: nowrap;
                    padding: 10px
                }
            }
        }
    }
    h3{
        font-size: $sizeTextCTA !important;
    }
}
